[submodule "Source/Dependencies/AssetEditor"]
	path = Source/Dependencies/AssetEditor
	url = https://github.com/OpenCAGE/AssetEditor
[submodule "Source/Dependencies/BehaviourTreeEditor"]
	path = Source/Dependencies/BehaviourTreeEditor
	url = https://github.com/OpenCAGE/BehaviourTreeEditor
[submodule "Source/Dependencies/CommandsEditor"]
	path = Source/Dependencies/CommandsEditor
	url = https://github.com/OpenCAGE/CommandsEditor
[submodule "Source/Dependencies/ConfigEditor"]
	path = Source/Dependencies/ConfigEditor
	url = https://github.com/OpenCAGE/ConfigEditor
[submodule "Source/Dependencies/CinematicTools"]
	path = Source/Dependencies/CinematicTools
	url = https://github.com/OpenCAGE/CinematicTools
[submodule "Source/Dependencies/RuntimeUtils"]
	path = Source/Dependencies/RuntimeUtils
	url = https://github.com/OpenCAGE/RuntimeUtils
[submodule "Source/Dependencies/LaunchGame"]
	path = Source/Dependencies/LaunchGame
	url = https://github.com/OpenCAGE/LaunchGame
[submodule "Source/Dependencies/BackupManager"]
	path = Source/Dependencies/BackupManager
	url = https://github.com/OpenCAGE/LevelBackup
[submodule "Source/Dependencies/LevelViewer"]
	path = Source/Dependencies/LevelViewer
	url = https://github.com/OpenCAGE/LevelViewer
