[submodule "Source/Dependencies/AlienPAK"]
	path = Source/Dependencies/AlienPAK
	url = https://github.com/OpenCAGE/AlienPAK
[submodule "Source/Dependencies/BehaviourTreeTool"]
	path = Source/Dependencies/BehaviourTreeTool
	url = https://github.com/OpenCAGE/BehaviourTreeTool
[submodule "Source/Dependencies/CathodeEditorGUI"]
	path = Source/Dependencies/CathodeEditorGUI
	url = https://github.com/OpenCAGE/CathodeEditorGUI
[submodule "Source/Dependencies/AlienConfigEditor"]
	path = Source/Dependencies/AlienConfigEditor
	url = https://github.com/OpenCAGE/AlienConfigEditor
