<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Brainiac.Design.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><userSettings>
		<Brainiac.Design.Properties.Settings>
			<setting name="MainWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="MainWindowLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="MainWindowSize" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="ShowNodeToolTips" serializeAs="String">
				<value>False</value>
			</setting>
		</Brainiac.Design.Properties.Settings>
	</userSettings>
</configuration>
